<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <!-- Default head-->
    <include file="Public/head"/>
    <!-- END Default head-->
    <block name="head"></block>
</head>
<!-- Add class {catogry_code_name} to body -->
<body class="loading">
<header class="container">
    <!-- Default header-->
    <block name="header">
        <include file="Public/header"/>
    </block>
    <!-- END Default header-->
</header>
<block name="main">
    <section id="main" class="container">
        <div class="text">
            <!-- Add Gategory description on AdminCP -->
            <h1>Chuyên mục</h1>
        </div>

        <div class="row">
            <!-- Get all category with thumb images -->
            <div class="gallery col-lg-3 col-md-6 col-sm-6">
                <a href="category.html" title="Gategory Name">
                    <div class="image-shadow img-fluid" style="background-image:url(/public/images/20-11.jpg)">
                        <img src="/public/images/20-11.jpg" alt="Gategory Name" class="img-fluid">
                    </div>
                </a>
            </div>
            <div class="gallery col-lg-3 col-md-6 col-sm-6">
                <a href="category.html" title="Gategory Name">
                    <div class="image-shadow img-fluid" style="background-image:url(/public/images/2.jpg)">
                        <img src="/public/images/2.jpg" alt="Gategory Name" class="img-fluid">
                    </div>
                </a>
            </div>
            <div class="gallery col-lg-3 col-md-6 col-sm-6">
                <a href="category.html" title="Gategory Name">
                    <div class="image-shadow img-fluid" style="background-image:url(/public/images/3.jpg)">
                        <img src="/public/images/3.jpg" alt="Gategory Name" class="img-fluid">
                    </div>
                </a>
            </div>
            <div class="gallery col-lg-3 col-md-6 col-sm-6">
                <a href="category.html" title="Gategory Name">
                    <div class="image-shadow img-fluid" style="background-image:url(/public/images/4.jpg)">
                        <img src="/public/images/4.jpg" alt="Gategory Name" class="img-fluid">
                    </div>
                </a>
            </div>


    </section>
</block>
<block name="footer">
    <include file="Public/footer"/>
</block>
</body>
</html>