<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>eCard</title>
    <link rel="stylesheet" href="/public/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css"/>
    <link rel="stylesheet" type="text/css" href="/public/css/swiper.min.css"/>
    <link rel="stylesheet" href="/public/css/app.css">
    <script>
        document.documentElement.className = 'js';
    </script>
</head>